<div style="margin: auto; text-align: center; font-weight: bold;">
	<img style="border-radius: 10px;" src="https://media.tenor.com/BlKbcuoS9RMAAAAC/bitch-wheres-my-money.gif" alt="Description of image">
	<p style="padding: 5px;">You should have given me money to make you an Admin!</p>
</div>
